//Spacing Variables
$spacing-unit: 5px;

//Font Stack
$font-stack: Helvetica,Arial,sans-serif;

//Global Colour Variables
$theme-white: #fff;
$theme-black: #333;
$theme-red: #de1417;
$theme-blue: #66c5d2;

//Media Query Variables
$mobile: 'only screen and (min-width: 480px)';
$mobile-landscape: 'only screen and (min-width: 568px)';

$mobile-iphone6: 'only screen and (min-width: 375px)';
$mobile-iphone6-landscape: 'only screen and (min-width: 667px)';

$ipad: 'only screen and (min-width: 768px)';
$ipad-landscape: 'only screen and (min-width: 992px)';

$desktop: 'only screen and (min-width: 1200px)';
