.slider-item {
    border: 1px solid $slider-border;
    box-shadow: 0 2px 4px 0 $slider-shadow;
    box-sizing: border-box;
    padding: $spacing-unit * 2 + 2 $spacing-unit * 3;
    
    &__img {
        display: block;
        float: left;
        width: 30%;

        img {
            height: auto;
            margin-right: 0;
        }
    }

    &__content {
        float: left;
        margin-left: $spacing-unit * 2;
        width: 65%;

        h1 {
            @include font-size(13px);
            color: $theme-red;
            font-weight: 600;
            min-height: 50px;
            text-align: left;

            @media #{$mobile} {
                min-height: 60px;
            }

            a {
                color: $theme-black;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        span {
            @include font-size(13px);
            color: $theme-red;
            float: left;
            font-weight: 600;
            text-align: left;
            width: 100%;
        }

        &__add-to-cart {
            float: left;
            text-align: left;
            width: 100%;

            a {
                @include font-size(12px);
                background-color: $theme-red;
                box-sizing: border-box;
                color: $theme-white;
                float: left;
                font-weight: 600;
                margin-top: $spacing-unit * 3;
                padding: $spacing-unit $spacing-unit * 3;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

}