body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
}

.dist-container {
    float: none;
    margin: 15px auto;
    overflow: visible;
    width: 100%;

    @media  #{$ipad-landscape} {
        width: 960px;
    }
}

